tmp/
components/*
!components/brookesia_core/
!components/fluidbox_app/
managed_components/
build/
output/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd

.omo/

